
# calibration
WP4/sumo-hki-cm/calibration/data/*
!WP4/sumo-hki-cm/calibration/data/collection_days_2018.txt
!WP4/sumo-hki-cm/calibration/data/road_station_detections.json
!WP4/sumo-hki-cm/calibration/data/reduced_edgedata_real.xml

# data
WP4/sumo-hki-cm/data/*

# sumo_files
WP4/sumo-hki-cm/sumo_files/data/whole_area.net.xml
output/


# other
.vscode
__pycache__/