# calibration
calibration/data/*
!calibration/data/collection_days_2018.txt
!calibration/data/road_station_detections.json
!calibration/data/reduced_edgedata_real.xml

# data
data/*

# demo
demo/output
demo2

# sumo_files
sumo_files/data/whole_area.net.xml
sumo_files/data/reduced_detector_outputs/
sumo_files/output/
sumo_files/smaller_areas

# pipelines
pipelines

# other
__pycache__/