torchmetrics
pytorch-lightning
beautifulsoup4>=4.12.2
gymnasium>=0.29.1
libsumo>=1.19.0
matplotlib>=3.8.2
networkx>=3.2.1
numpy>=1.26.3
omegaconf>=2.3.0
pandas>=2.1.4
stable_baselines3>=2.2.1
sumolib>=1.19.0
eclipse-sumo>=1.19.0
lxml>=5.1.0
